@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  width: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  width: 100%;
}

.markdown > * {
  all: revert;
}

.slick-slide {
  margin: 0 5px;
  aspect-ratio: 1.8/1;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  opacity: 1 !important;
  font-size: 30px !important;
}

.slick-prev:before {
  content: '⬅️' !important;
}

.slick-next:before {
  content: '➡️' !important;
}

.slick-next {
  right: 25px !important;
  top: 22% !important;
}

.slick-prev {
  left: 15px !important;
  top: 22% !important;
  z-index: 1 !important;
}
